# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


/src/font/Montserrat/Montserrat-Black.ttf
/src/font/Montserrat/Montserrat-BlackItalic.ttf
/src/font/Montserrat/Montserrat-Bold.ttf
/src/font/Montserrat/Montserrat-BoldItalic.ttf
/src/font/Montserrat/Montserrat-ExtraBold.ttf
/src/font/Montserrat/Montserrat-ExtraBoldItalic.ttf
/src/font/Montserrat/Montserrat-ExtraLight.ttf
/src/font/Montserrat/Montserrat-ExtraLightItalic.ttf
/src/font/Montserrat/Montserrat-Italic.ttf
/src/font/Montserrat/Montserrat-Light.ttf
/src/font/Montserrat/Montserrat-LightItalic.ttf
/src/font/Montserrat/Montserrat-Medium.ttf
/src/font/Montserrat/Montserrat-MediumItalic.ttf
/src/font/Montserrat/Montserrat-SemiBold.ttf
/src/font/Montserrat/Montserrat-SemiBoldItalic.ttf
/src/font/Montserrat/Montserrat-Thin.ttf
/src/font/Montserrat/Montserrat-ThinItalic.ttf
/src/font/Montserrat/OFL.txt

/public/unsplash_A1.jpg
/public/unsplash_A2.jpg
/public/unsplash_C1.jpg
/public/unsplash_C2.jpg
/public/unsplash_C3.jpg
/public/unsplash_C4.jpg
/public/unsplash_C5.jpg
/public/unsplash_HD1.jpg
/public/unsplash_HD2.jpg
/public/unsplash_HD3.jpg
/public/unsplash_HD4.jpg
/public/unsplash_HD5.jpg
/public/unsplash_HD6.jpg
/public/unsplash_HD7.jpg
/public/unsplash_HD8.jpg
/public/unsplash_O1.jpg
/public/unsplash_O2.jpg
/public/unsplash_S1.jpg
/public/unsplash_S2.jpg
/public/unsplash_S3.jpg

/public/logo_transparent___.png
/public/logo_transparent__.png
/public/logo_transparent_.png
/public/logo.png